 body{
        background-color: rgb(248, 247, 247);
        text-align: center;
        font-family: sans-serif;

    }

    form{
        box-shadow: 2px 2px 5px gray;
        margin: 10%;
        padding: 5%;
    }

    #textbox{
        text-align: center;
        font-size: 1.5rem;
        border: none;
        border-radius: 10px;
        box-shadow: 2px 2px 5px gray;
        margin: 2% 0 5% 0;

    }
    h1{
        color: blue;
    }

    label{
        font-size: 1.2rem;
        color: green;
    }

    button{
        border: none;
        box-shadow: 2px 2px 5px grey;
        background-color: red;
        color: white;
        border-radius: 3px;
        font-size: 1.2rem;
        padding: 1% 3%;
        margin: 1% 0;
        transition: 0.5s;
    }
    button:hover{
        background-color: blue;
        color: white;
    }

    